<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('../partials/head'); %>
  <%- include('../partials/header'); %>



<script>
  $(document).ready(function () {
    $("#filterSubmit").on("submit", function (event) {
      event.preventDefault();

      let state = $("#slct1").val();
      let area = $("#slct2").val();
      let propertyType = $("#propertyType").val();
      let nofBedroom = $("#nofBedroom").val();
      let status = $("#status").val();
      let minPrice = $("#minPrice").val();
      let maxPrice = $("#maxPrice").val();

      $.ajax({
        url: `/filter?state=${state}&minPrice=${minPrice}&maxPrice=${maxPrice}&propertyType=${propertyType}&numberOfBedrooms=${nofBedroom}&status=${status}`,
        method: "get",
        contentType: "application/json",

        success: function (res) {
          console.log(res)
          $("#team").html(res);
        },
      });
    });
  });
</script>

<script>
    $(document).ready(function () {
      $("#next").on("click", function (event) {
    const nPage = "<%= pages.data.nextPage %>"
  
        $.ajax({
          url: `/api/list/lists/${nPage}`,
          method: "get",
          contentType: "application/json",
  
          success: function (res) {
            console.log(res)
            $("#team").html(res);
          },
        });
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $("#previuos").on("click", function (event) {
    const pPage = "<%= pages.data.previousPage %>"
  
        $.ajax({
          url: `/api/list/lists/${pPage}`,
          method: "get",
          contentType: "application/json",
  
          success: function (res) {
            console.log(res)
            $("#team").html(res);
          },
        });
      });
    });
  </script>
</head>
<body>

  <!-- ======= Header ======= -->
  <!-- ======= Testimonials Section ======= -->
  <section class="testimonials">
    <div class="container" data-aos="zoom-in">

      <div class="testimonial" data-aos="fade-up" data-aos-delay="100">
        <p class="testimonialH1">Find Your Dream Home</p>
        <p class="testimonialH2">Africa's Trusted Property Marketplace</p>
    </div>
    <br>
      <form id="filterSubmit" >
    <div class="row">

        
        <div class="col-lg-1 "> 
          <label for="exampleInputPassword1" class="form-label" style="color: white; font-size:13px; font-weight:500; " >State</label><br>
          <select class="form-select form-select-md mb-3 filter rounded-0" id="slct1" name="state" onchange="populate(this.id,'slct2')">
            <option value="" ></option>
            <option value="Lagos">Lagos</option>
            <option value="Abuja">Abuja</option>
          </select>
        </div>
   
        <div class="col-lg-1">
          <label  class="form-label" style="color: white; font-size:13px; font-weight:500; " required>Bedrooms</label><br>
          <input class="filter" name="nofBedroom" id="nofBedroom" type="number" >
        </div>
        <div class="col-lg-2 "> 
          <label for="exampleInputPassword1" class="form-label" style="color: white; font-size:13px; font-weight:500; " required>Status</label><br>
          <select class="form-select form-select-md mb-3 filter rounded-0"  id="status" name="status">
            <option value="" ></option>
            <option value="Off Plan">Off Plan</option>
            <option value="Completed">Completed</option>
          </select>
        </div>

        <div class="col-lg-2 "> 
          <label for="exampleInputPassword1" class="form-label" style="color: white; font-size:13px; font-weight:500; " required>Property Type</label><br>
          <select class="form-select form-select-md mb-3 filter rounded-0" id="propertyType" name="propertyType">
            <option value=""></option>
            <option value="Apartment">Apartment</option>
            <option value="Studio">Studio</option>
            <option value="Terrace">Terrace</option>
            <option value="Semi Detached">Semi Detached</option> 
            <option value="Penthouse">Penthouse</option>
            <option value="Detached">Detached</option>
            <option value="Town House">Town House</option>
            <option value="Maisonette">Maisonette</option>
          </select>
        </div>

        <div class="col-lg-2 ">
          <label  class="form-label" style="color: white; font-size:13px; font-weight:500; ">Min. Price (₦)</label><br>
          <input class="filter number-separator" name="minPrice" id="minPrice" type="text" value="0">
         
        </div>
     
         <div class="col-lg-2">
          <label  class="form-label" style="color: white; font-size:13px; font-weight:500; ">Max. Price (₦)</label><br>
          <input class="filter number-separator" name="maxPrice" id="maxPrice" type="text" >
        </div>
        <div class="col-lg-2">
          <label class="form-label" style="color: white; font-size:13px; font-weight:500; visibility: hidden; " >Max. Price</label> <br>
          <input class="btn btn-success filter1" style="color: white; font-size:13px; font-weight:500; " type="submit" value="Submit">
        </div>
      
      </div>


      </form>
     
    </div>
  </section><!-- End Testimonials Section -->



<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    

    <%if ( pages.data.pageDataCount == 0) { %>
      <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-sm-12 col-lg-4">
        <div class="alert-message alert-message-danger">
            <h4>
              <strong>
                Property Unavailable
               </strong>
          
        </div>
    </div>
    <div class="col-lg-4"></div>

  </div>
      <% } %>

    <div class="row">
  <% for(var i=0; i < pages.data.pageDataCount; i++) { %>
     
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <a href="/show/<%= pages.data.propertyData[i].id %>" style="color: black;">

            <div id="carouselExampleIndicators<%= [i] %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators<%= [i] %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
 
              </div>
              <div class="carousel-inner">
            
                <div class="carousel-item active">
                  <% for(var j=0; j<pages.data.propertyData[i].images.length; j++) {%>
                  <img src="<%= pages.data.propertyData[i].images[j] %>" style="height: 450px; width:450px;" alt="...">
                  <% } %>
                </div>
              </div>
           
            <div class="top-left"><%= pages.data.propertyData[i].propertyType %></div>
            <div class="top-right"><%= pages.data.propertyData[i].status %> </div>
            <div class="bottom-left"> <%= pages.data.propertyData[i].projectStatus %> </div>





            </div>
          </div>

          <div class="member-info">
            <div class="under">
              <h2 id="price<%= [i]%>" class="price">  </h2>
              <script>

                  var x = " <%= pages.data.propertyData[i].price %> " 
                function numberWithCommas(x) {
                 a = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                 b = `₦${a}`
                 return b.replace(/\s/g, '')
                  }

                    document.getElementById("price<%= [i]%>").innerText = numberWithCommas(x)
              </script>
              <div  id="icons-block">
              
                 <i class="fa-solid fa-bed"> <%= pages.data.propertyData[i].numberOfBedrooms %></i> &nbsp;
                <i class="fa-solid fa-bath"> <%= pages.data.propertyData[i].numberOfWashrooms%></i> &nbsp;
              </div>
            </div>

            <div class="under1">
              <span> <%= pages.data.propertyData[i].projectName %> </span> &nbsp; &nbsp; 
  
            </div>
         
         
          </div>
      </a>

        </div>
      </div>

      <% } %>
     
        </div
      </div>
    
      <div>
        <button id="previous" class="btn btn-warning"> Previous</button>
        
        <button id="next" class="btn btn-success"> Next</button>
        <strong> <%= pages.data.page %> of <%= pages.data.totalPages %> </strong>
      </div>
</section>
<!-- End Team Section -->

<script>
    

    x =  "<%= pages.data.previousPage %>"
    y =  "<%= pages.data.nextPage %>"
    console.log("previous", x,y)
    if (x == "") {
        but = document.getElementById('previous')
    but.style.display = 'none'
    }
    if (y == "") {
        but = document.getElementById('next')
    but.style.display = 'none'
    }


   
 </script>

<script>
  let items = document.querySelectorAll('.carousel .carousel-item')
  
  items.forEach((el) => {
      const minPerSlide = 1
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
            next = items[0]
          }
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
      }
  })
  
      
       </script>
  <!-- ======= Footer ======= -->
  <%- include('../partials/footer'); %>
</body>

</html>

 


