
  <div class="container" data-aos="fade-up">
    <script>
        $(document).ready(function () {
          $("#next").on("click", function (event) {
        const nPage = "<%= pages.data.nextPage %>"
      
            $.ajax({
              url: `/api/list/lists/${nPage}`,
              method: "get",
              contentType: "application/json",
      
              success: function (res) {
                $("#team").html(res);
              },
            });
          });
        });
      </script>
      <script>
        $(document).ready(function () {
          $("#previuos").on("click", function (event) {
        const pPage = "<%= pages.data.previousPage %>"
      
            $.ajax({
              url: `/api/list/lists/${pPage}`,
              method: "get",
              contentType: "application/json",
      
              success: function (res) {
                console.log(res)
                $("#team").html(res);
              },
            });
          });
        });
      </script>
    

    <%if ( pages.data.pageDataCount == 0) { %>
      <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-sm-12 col-lg-4">
        <div class="alert-message alert-message-danger">
            <h4>
              <strong>
                Property Unavailable
               </strong>
          
        </div>
    </div>
    <div class="col-lg-4"></div>

  </div>
      <% } %>

    <div class="row">
  <% for(var i=0; i < pages.data.pageDataCount; i++) { %>
     
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <a href="/show/<%= pages.data.propertyData[i].id %>" style="color: black;">

            <div id="carouselExampleIndicators<%= [i] %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators<%= [i] %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
 
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="<%= pages.data.propertyData[i].images[0] %>" style="height: 450px; width:450px;" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= [i] %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= [i] %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            <div class="top-left"><%= pages.data.propertyData[i].propertyType %></div>
            <div class="top-right"><%= pages.data.propertyData[i].status %> </div>
            <div class="bottom-left">Unverified </div>





            </div>
          </div>

          <div class="member-info">
            <div class="under">
              <h2 id="price<%= [i]%>" class="price">  </h2>
              <script>

                  var x = " <%= pages.data.propertyData[i].price %> " 
                function numberWithCommas(x) {
                 a = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                 b = `₦${a}`
                 return b.replace(/\s/g, '')
                  }

                    document.getElementById("price<%= [i]%>").innerText = numberWithCommas(x)
              </script>
              <div  id="icons-block">
              
                 <i class="fa-solid fa-bed"> <%= pages.data.propertyData[i].numberOfBedrooms %></i> &nbsp;
                <i class="fa-solid fa-bath"> <%= pages.data.propertyData[i].numberOfWashrooms%></i> &nbsp;
              </div>
            </div>

            <div class="under1">
              <span> <%= pages.data.propertyData[i].projectName %> </span> &nbsp; &nbsp; 
  
            </div>
         
         
          </div>
      </a>

        </div>
      </div>

      <% } %>
     
        </div
      </div>
    
      <div>
        <button id="previuos" class="btn btn-warning"> Previous</button>
        
        <button id="next" class="btn btn-success"> Next</button>
        <strong> <%= pages.data.page %> of <%= pages.data.totalPages %> </strong>
      </div>
</section>
<!-- End Team Section -->

<script>
    

    x = '<%= pages.data.previousPage %>'
    y = '<%= pages.data.nextPage %>'

    if (x == undefined) {
        but = document.getElementById('previuos')
        but.style.display = 'none'
    }
    if (y == undefined) {
        but = document.getElementById('next')
    but.style.display = 'none'
    }


   
 </script>


