<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  


</head>
<body>
  <!-- ======= Header ======= -->
    <%- include('../partials/header'); %>

    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
    
      
    
        <div class="row">
  
<div class="flex flex-row">
  <h1> 
    <%= oneData.property.projectName  %>   
    </h1>  

</div>
<div class="col-lg-4"">
</div>

            </div>
            <div class="row">
      
              <div  id="icons-block">
                <i class="fa-solid fa-location-dot"></i> <font><%= oneData.property.state %>, <%= oneData.property.address%> </font>  &nbsp; &#183; &nbsp;
                 <i class="fa-solid fa-bed"> </i> <%= oneData.property.numberOfBedrooms %>&nbsp; &#183; &nbsp;
                <i class="fa-solid fa-bath"> </i> <%= oneData.property.numberOfWashrooms %> &nbsp; &#183; &nbsp;
                <i class="fa-solid fa-house"> </i> <%= oneData.property.propertyType%>&nbsp;  &#183; &nbsp;
                <i class="fa-solid fa-person-digging"></i> <%= oneData.property.status%>&nbsp;  
                <font style="color: red;">Unverified</font> &nbsp;  
                

              </div>
            </div>
      </div>
          </section>
          <div class="row">

            <div class="container">
            
              <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner row" role="listbox">
                    
                      <div class="carousel-item active ">
                        <% for(var i=0; i<oneData.property.images.length; i++) {%>
                        <img src="<%= oneData.property.images[i] %>" style="height: 450px; width:450px;" alt="...">
                        <% } %>
                      </div>
                     
                    </div>
                    <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
              </div>
            </div>
            </div>
            <br>
            <div class="container">
              <div class="row">
                <span>Property Price</span>
              </div>
              <div class="row">
                <h1 id="pricer" style="font-weight: 700;">
                  ₦<%= oneData.property.propertyPrice%>
                </h1>
                <script>
                  var x = " <%= oneData.property.price %> " 
                function numberWithCommas(x) {
                 a = x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                 b = `₦${a}`
                 return b.replace(/\s/g, '')
                  }
                    document.getElementById("pricer").innerText = numberWithCommas(x)
              </script>
    
              </div>
            
            <hr>
            </div>
          
          

 


 <section>
  <div class="container" data-aos="fade-up">



    
    <div class="row" id="req">
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>
      <div class="col-lg-3 col-sm-12 col-md-12  " id="re">
        <a class="request1"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Schedule Inspection</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12">
        <a class="request2" data-bs-toggle="modal" data-bs-target="#exampleModal2"> Apply For Financing</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>

    </div>
    
    <div class="row" id="req">
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>
      <div class="col-lg-3 col-sm-12 col-md-12" id="re">
        <a class="request3" data-bs-toggle="modal" data-bs-target="#exampleModal1"> Buy Now</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12" >
        <a class="request4" href="/mortgageCalculator"> Mortgage Calculator</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>

    </div>

  </div>
 </section>

 

 
  <div class="container" data-aos="fade-up">
    <hr>
    
        <div class="row" >
         <h2 style="font-weight: 600;">Property Features</h2>
         <div id="propertyFt" style="font-size: 15px;">

         </div>

        
        </div>
    
      </div>
      <script>
        text = " <%= oneData.property.propertyFeatures %> "
        var nameArr = text.split(',');
        var list = document.createElement("ul");
for (let i of nameArr) {
  let item = document.createElement("li");
  item.innerHTML = i;
  list.appendChild(item);
  document.getElementById("propertyFt").appendChild(list);
}
      </script>
  
  <div class="container" data-aos="fade-up">
    <hr>
    
        <div class="row" >
         <h2 style="font-weight: 600;">Description</h2>
         <div style="font-size: 15px;">
          <%= oneData.property.description %>
         </div>

        
        </div>
    
      </div>

 <section>
 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 900; font-size: 20px;">Schedule Inspection Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/sendmail">


            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">FULL NAME</label>
              <input type="text" class="form-control" id="recipient-name" name="name" style="height: 40px; width: 100%; " required>
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">EMAIL ADDRESS</label>
              <input type="email" class="form-control" id="recipient-name" name="email" style="height: 40px; width: 100%; " required >
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PHONE NUMBER</label>
              <input class="form-control" id="recipient-name"  name="phonenumber" type="tel" style="height: 40px; width: 100%; " required minlength="11" maxlength="14">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PREFERRED SCHEDULE DATE</label>
              <input type="date" class="form-control" name="date" id="recipient-name" style="height: 40px; width: 100%; " required>
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PREFERRED SCHEDULE TIME</label>
              <input type="time" class="form-control" name="time" id="recipient-name" style="height: 40px; width: 100%; " required>
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label" style="font-weight: 600; font-size: 15px;">COMMENTS</label>
              <textarea class="form-control" id="message-text" name="comment" style="height: 80px; width: 100%; " ></textarea>
            </div>
        <div class="modal-footer"> 
          <button type="submit" class="btn " style="background-color: #17a2b8; color:white; font-size: large; font-weight: 500;">SUBMIT REQUEST</button>
       
        </div>
          </form>

        </div>
      </div>
    </div>
  </div>
 </section>


      <!-- ======= Section Modal ======= -->


 <section>
 
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 900; font-size: 20px;">Buy Now Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/sendmailer" >
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">FULL NAME</label>
              <input type="text" class="form-control" id="recipient-name" style="height: 40px; width: 100%; " name="name">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">EMAIL ADDRESS</label>
              <input type="email" class="form-control" id="recipient-name" style="height: 40px; width: 100%; " name="email" >
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PHONE NUMBER</label>
              <input class="form-control" id="recipient-name"   type="tel" style="height: 40px; width: 100%; " name="phonenumber" minlength="11" maxlength="14">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn " style="background-color: #17a2b8; color:white; font-size: large; font-weight: 500;">SUBMIT REQUEST</button>
            </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>
 </section>


 <section>
 
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 900; font-size: 20px;">Mortgage Partners</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"    
        
          <div class="container" data-aos="fade-up">
            <div class="row">
                
                  <div class="col-lg-3">
                    <a href="https://www.imperialmortgagebank.com/propertyInterest.html">
                      <img src="/assets/img/logo/imperial_logo.png" style="padding-top:30px;" class=" rounded float-start img-fluid" alt="...">

                    </a>
                  </div>

                  <div class="col-lg-3">
                    <a href="https://brentng.com/mortgage-application-form/">
                      <img src="/assets/img/logo/client-3.png" style="padding-top:50px;" class=" rounded float-start img-fluid" alt="...">

                    </a>
                  </div>

                  <div class="col-lg-3">
                    <a href="http://www.homebasebank.com/mortgage_rate.php">
                      <img src="/assets/img/logo/client-7.png" style="padding-top:50px;" class=" rounded float-start img-fluid" alt="...">

                    </a>
                  </div>
              </div>
            </div>
        
              
          
            
          
         
        <div class="modal-footer">
          <button type="button" class="btn " style="background-color: red; color:white; font-size: large; font-weight: 500; " data-bs-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </div>
  </div>
  
  
 </section>


<script>
  let items = document.querySelectorAll('.carousel .carousel-item')
  
  items.forEach((el) => {
      const minPerSlide =1
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
            next = items[0]
          }
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
      }
  })
  
      
       </script>
    
      <!-- ======= Footer ======= -->
  <%- include('../partials/footer'); %>
</body>

</html>