<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>

  


</head>
<body>
  <!-- ======= Header ======= -->
    <%- include('../partials/header'); %>

    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
    
      
    
        <div class="row">
  

    <h1> 
     <%= oneData.propertyName  %>
     </h1>

         
            </div>
            <div class="row">
      
              <div  id="icons-block">
                <i class="fa-solid fa-location-dot"> <%= oneData.state %>, <%= oneData.area %> </i> &nbsp; &#183; &nbsp;
                 <i class="fa-solid fa-bed"> <%= oneData.numberOfBedroom %></i> &nbsp; &#183; &nbsp;
                <i class="fa-solid fa-bath"> <%= oneData.quantityAvailableUnits %></i> &nbsp; &#183; &nbsp;
                <i class="fa-solid fa-house"> <%= oneData.propertyType%></i> &nbsp;

              </div>
            </div>
      </div>
          </section>
            <div class="conatainer-fluid">
            
              <div class="row mx-auto my-auto justify-content-center">
                <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner row" role="listbox">
                      <div class="carousel-item active">
                        <img src="https://drive.google.com/uc?export=view&id=<%= oneData.photos[0] %>" style="height: 450px; width:450px;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://drive.google.com/uc?export=view&id=<%= oneData.photos[1] %>" style="height: 450px; width:450px;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://drive.google.com/uc?export=view&id=<%= oneData.photos[2] %>" style="height: 450px; width:450px;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://drive.google.com/uc?export=view&id=<%= oneData.photos[3] %>" style="height: 450px; width:450px;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://drive.google.com/uc?export=view&id=<%= oneData.photos[4] %>" style="height: 450px; width:450px;" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
              </div>
            </div>
            <br>
            <div class="container">
              <div class="row">
                <span>Property Price</span>
              </div>
              <div class="row">
                <h1 style="font-weight: 700;">
                  ₦<%= oneData.propertyPrice%>
                </h1>
    
              </div>
            
            <hr>
            </div>
          
          

 


 <section>
  <div class="container" data-aos="fade-up">
    <div class="row" id="req">
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>
      <div class="col-lg-3 col-sm-12 col-md-12  " id="re">
        <a class="request1"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Schedule Inspection</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12">
        <a class="request2" href=""> Apply For Financing</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>

    </div>
    
    <div class="row" id="req">
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>
      <div class="col-lg-3 col-sm-12 col-md-12" id="re">
        <a class="request3" data-bs-toggle="modal" data-bs-target="#exampleModal1"> Buy Now</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12" >
        <a class="request4" href=""> Use Mortgage Calculator</a>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-12" id="re"></div>

    </div>

  </div>
 </section>

 

  <div class="container" data-aos="fade-up">
<hr>

    <div class="row" >
     <h2 style="font-weight: 600;">Description</h2>
     

    </div>

  </div>
 
  <div class="container" data-aos="fade-up">
    <hr>
    
        <div class="row" >
         <h2 style="font-weight: 600;">Property Features</h2>
         
    
        </div>
    
      </div>
      <section>
        <div class="container" data-aos="fade-up">
          <hr>
          
              <div class="row" >
               <h2 style="font-weight: 600;">Mortgage Partners</h2>
               
          
              </div>
              <div>
                <div class="col-lg-3">
                  <img src="/assets/img/logo/imperial_logo.png" style="padding-top:30px;" class=" rounded float-start" alt="...">
                </div>
                <div class="col-lg3">
                  <img src="/assets/img/logo/brent-logo.png" style="height: 20%; width:20%; padding-top: 10px; " class=" rounded float-start" alt="...">
                </div>

              </div>
          
            </div>

      </section>
     
          <section>
            <div class=" container" data-aos="fade-up">
              <hr>
                  <div class="row" >
                   <h2 style="font-weight: 600;">Mortgage Calculator</h2>
                  </div>
                </div>
          </section>
       


 <section>
 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 900; font-size: 20px;">Schedule Inspection Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="http://localhost:3000/sendmail">


            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">FULL NAME</label>
              <input type="text" class="form-control" id="recipient-name" name="name" style="height: 40px; width: 100%; " required>
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">EMAIL ADDRESS</label>
              <input type="email" class="form-control" id="recipient-name" name="email" style="height: 40px; width: 100%; " required >
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PHONE NUMBER</label>
              <input class="form-control" id="recipient-name"  name="phonenumber" type="tel" style="height: 40px; width: 100%; " required minlength="11" maxlength="14">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PREFERRED SCHEDULE DATE</label>
              <input type="date" class="form-control" name="date" id="recipient-name" style="height: 40px; width: 100%; " required>
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label" style="font-weight: 600; font-size: 15px;">COMMENTS</label>
              <textarea class="form-control" id="message-text" name="comment" style="height: 80px; width: 100%; " ></textarea>
            </div>
        <div class="modal-footer"> 
          <button type="submit" class="btn " style="background-color: #17a2b8; color:white; font-size: 10px; font-weight: 500;">SUBMIT REQUEST</button>
       
        </div>
          </form>
          <button type="button" class="btn " style="background-color: red; color:white; font-size: 10px; font-weight: 500; " data-bs-dismiss="modal">CLOSE</button>

        </div>
      </div>
    </div>
  </div>
 </section>


      <!-- ======= Section Modal ======= -->


 <section>
 
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 900; font-size: 20px;">Buy Now Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">FULL NAME</label>
              <input type="text" class="form-control" id="recipient-name" style="height: 40px; width: 100%; " >
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">EMAIL ADDRESS</label>
              <input type="email" class="form-control" id="recipient-name" style="height: 40px; width: 100%; " >
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" style="font-weight: 600; font-size: 15px;">PHONE NUMBER</label>
              <input class="form-control" id="recipient-name"   type="tel" style="height: 40px; width: 100%; " minlength="11" maxlength="14">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " style="background-color: red; color:white; font-size: large; font-weight: 500; " data-bs-dismiss="modal">CLOSE</button>
          <button type="button" class="btn " style="background-color: #17a2b8; color:white; font-size: large; font-weight: 500;">SUBMIT REQUEST</button>
        </div>
      </div>
    </div>
  </div>
 </section>


<script>
  let items = document.querySelectorAll('.carousel .carousel-item')
  
  items.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) {
              // wrap carousel by using first child
            next = items[0]
          }
          let cloneChild = next.cloneNode(true)
          el.appendChild(cloneChild.children[0])
          next = next.nextElementSibling
      }
  })
  
      
       </script>
    
      <!-- ======= Footer ======= -->
  <%- include('../partials/footer'); %>
</body>

</html>